.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin-left: auto;
  flex: 1 1;
  max-width: 650px;
  grid-gap: 50px;
  gap: 50px;
}

.links .Activity:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links .Exercise:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links .Nutrition:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links .Sleep:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links .Login:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links .SignUp {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 12px 18px;
  border-radius: 4px;
  background: #00c98e;
  color: #fff;
}

.links .SignUp:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
